on:
  push:
    branches:
      - main

  workflow_dispatch:
jobs:
  MyFirstJob:
    runs-on: ubuntu-latest

    steps:
      - run: echo "Hello World!!!"

      - name: Checkout
        uses: actions/checkout@v6.0.2
      
      - name: List Files in the repository
        run: |
          echo "The repository ${{ github.repository }} contains the following files:"
          tree
  
